<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>PA1450</title>
  <link rel="stylesheet" href="../static/main.css">
  <meta name="description" content="PA1450"/>
</head>

<body>
  <p>Function:</p>
  <p>Compare cases per capita between two countries</p> 

  <div class = "midsection">
    <form method="POST">
      <input type="search" placeholder="Country 1" name="q1"><br>
      <input type="search" placeholder="Country 2" name="q2"><br><br>
      <button type="submit">Search</button>
    </form>     
  </div>

</body>
</html>
